:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}
#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }
canvas {
  position:fixed;
  top:0;
  left:0;
}
#navflex {
  position: absolute;
  color:#FFB52E;
  width:40vw;
  height: 100vh;
  background-color: #00000090;
  z-index: 1;
  font-size: 60px;
  margin:0;
  padding:0;
  background-image: url('atkhayar.png');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  display:flex;
  
}

@keyframes moveleft {
  0% {left:0}
  100%{
    left:-100%;
  }
}

@keyframes moveright {
  0% {left:-50%}
  100%{
    left:5rem;
  }
}
@keyframes moverightfortoggle {
  0% {left: -50%;}
  100%{left:0}
}

@keyframes moverightfornav {
  0%{left: -50%}
  100%{left:0;}
}
#web{
  width: 77%;
  margin: auto;
  /* border: 1px solid red; */
}
#mobile{
  display:none;
}
.navALT{
  color: #A36A00;
}

li {
  list-style-type: none;
}
a{
  text-decoration: none;
  cursor: pointer;

}
a:hover{
  color:white;
}

#designsection{
  position:absolute;
  left: -50%;
  width:40vw;
  height:100%;
  text-align: left;
 font-size:1.8rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);

  /* display: none; */
}
#engineeringsection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: left;
 font-size:1.8rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
  /* left: 4.7rem; */
}
#corporatesection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: left;
 font-size:1.8rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
}
#portfoliosection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: left;
 font-size:1.8rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
}
#contactussection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: left;
 font-size:1.2rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
}
#careersection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: center;
 font-size:1.2rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
}
#atkhayarplacessection{
  position:absolute;
  width:40vw;
  height:100%;
  text-align: center;
 font-size:1.2rem;
  color:rgb(255, 132, 0);
  text-shadow:1px 1px 1px rgb(0, 0, 0);
  /* border:1px solid red; */
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.737);
  left: -50%;
  background-image: url('./atkhayarbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#atkhayarplacesmobile{
  display:none;
}
.bgadding{
background-color: rgba(0, 0, 0, 0.744)
}
.btnbig{
  width: 11.6rem;
  height:4rem;
  margin: 2rem auto 2rem;
  cursor: pointer;
}

#androidbtn{
  background-image: url('./Google.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  box-shadow: 1px 1px rgb(47, 23, 0);
  border-radius: 15px;
  
}
#applebtn{
  background-image: url('./appstore3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: gray;
  border: none;
  box-shadow: 1px 1px rgb(47, 23, 0);
  border-radius: 15px;
  cursor: not-allowed ;
  color: rgb(244, 6, 6);
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size:  2.5rem;

}
#androidbtn:hover{
  transform: scale(1.2);
  transition:ease-in-out;
}

#ctusform label{
  font-size: 1.2rem;
  color:rgb(249, 221, 191);
}
#name, #email{
  width:47%;
  border-radius: 5px;
  height:1.8rem;
  margin-bottom: 0.5rem;
  background-color: #ffa60148;
  color:white;
}

#submitbtn{
  width:8rem;
  height:2.2rem;
  border-radius: 1rem;
  font-size: 1rem;
}
textarea{
  resize:none;
  border-radius: 5px;
  background-color: #ffa60148;
  color:white;
}
#name:focus,#email:focus,
textarea:focus{
  background-color: rgba(0, 0, 0, 0.122);
}
#submitbtn:hover{
  background-color: #05030000;
  color: white;
  font-size: 1rem;
}



.textalignment{
  position:relative;
  margin:auto;
  /* border:1px solid green; */
  width: 80%;
}
#toggleicon{
 position:absolute;
 display:flex;
 flex-direction: column;
 top:0;
 right:100%; 
 width: 2.3rem;
  /* border:1px red solid; */
  padding: 1.3rem;
  z-index: 4;
  margin: 10vh 0;
  
  
}

.icon{
  position:relative;
  margin-top: 3.2rem;
  color: #FFB52E;
}

.icon:before{
  content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 140px;
background-color: rgba(0, 0, 0, 0.8);
color: #fff;
text-align: center;
border-radius: 5px;
padding: 5px 0;
transition: opacity 1s ease-in-out;
font-size: 1.2rem;

position: absolute;
z-index: 1;
left: 0;
top: 50%;
}

.icon:hover:before{
  opacity:1;
  visibility: visible;
}


.progress-bar-container{
  position: absolute;
  right:0;
  top:0;
  /* transform: translate(-50%,-50%); */
  width:60%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.9); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
}

#progress-bar{
  width:40%;
  margin-top:0.5%;
  height:2%;
}

label{
  color:white;
  font-size: 2rem;
}

#toggleiconmobile{
  display: none;
}
#footerr{
  width: 100%;
  position: fixed;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.57);
  z-index:2;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 1rem;
}

@media screen and (max-width:1024px){
  #web,#navflex {
    display:none;
  }
  #mobile {
    display: block;
    margin:50% 0 0 0;
    padding: 0.5rem;
  }
  nav{
    width: 4rem;
    margin: 0;
    padding:0;
  }
  #designsection, #engineeringsection, #corporatesection,
  #portfoliosection, #careersection{
    top:-50%;
    /* top:5.5rem; */
    left:0;
    width:100vw;
    height:40%;
    font-size: 2rem;
  }
  #atkhayarplacessection{
    top:-100%;
    /* top:5.5rem; */
    left:0;
    width:100vw;
    height:91%;
    font-size: 2rem;
    
  }
  #contactussection{
    top:-60%;
    /* top:5.5rem; */
    left:0;
    width:100vw;
    height:40%;
    font-size: 2rem;
  }

  @keyframes dropdown {
    0%{top: -50%}
    100%{top:5rem;}
  }

  @keyframes backup {
    0%{top: 5rem;}
    100%{top:-50%;}
  }

  @keyframes backupmore {
    0%{top: 5rem;}
    100%{top:-100%;}
  }
  #toggleiconmobile{
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    top:0;
    right: 0;
    width: 100vw;
    height:3rem;
     /* border:1px red solid; */
     padding: 1.3rem;
     z-index: 4;
     margin: 0;

     
   }
   .iconm{
     margin: auto 1rem;
     font-size:1.8rem;
   }
   .iconm:before{
    content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  font-size: 1.2rem;
  
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 65%;
  }
  .iconm:hover:before{
    opacity:1;
    visibility: visible;
  }
  #name, #email{
    width:47%;
    border-radius: 7px;
    height:2rem;
    margin-bottom: 0.5rem;
    background-color: #ffa60148;
    color:white;
  }
  
  #submitbtn{
    width:8rem;
    height:2rem;
    border-radius: 1rem;
    font-size: 1rem;
  }
  textarea{
    width:100%;
    height:300px;
    resize:none;
    border-radius: 5px;
    background-color: #ffa60148;
    color:white;
  }
  #contactussection{
    font-size: 1.1rem;
  }
  #ctusflex{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    margin-top: 1.3rem;
  }
  .ptagctus{
    margin:auto;
  }
  .progress-bar-container{
    width:100%;
    left:0;
  }
  #atkhayarplacesmobile{
    display: block;
  }
  #atkhayarplaces{
    display:none;
  }
}

